@model BOM.watershed_taluka

@{
    ViewBag.Title = "AddTaluka";
    BOM.User user = this.Session["user"] as BOM.User;
    if (!user.role.Equals("admin"))
    {
        this.Response.Redirect("/Account/Login");  //session management code
    }
}
<script src="~/Scripts/VillagesListAjax.js"></script>
<script>
    $(document).ready(function () {
        CheckState();
    });

    function SelectCity() {
        var vid = $("#city").val();
        $("#cid").val(vid);
    }
</script>
<h2>AddTaluka</h2>
<div class="watersheddiv container body-content">
    @using (Html.BeginForm("AddTaluka", "WaterShed", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Add taluka</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2" for="state">Select State:</label>
                <div class="col-md-10">
                    <select id="state" class="form-control" onchange="ListCity()"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="city">Select City:</label>
                <div class="col-md-10">
                    <select id="city" class="form-control" onchange="SelectCity()"></select>
                </div>
            </div>
            <input type="hidden" required name="cid" id="cid" />

            <div class="form-group">
                @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Taluka" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <span id="msgspan" style="color:red"></span>
</div>
@{
    String script = ViewData["AddTaluka"] as String;
    if (null != script)
    {
        if (script.Equals("success"))
        {
            <script>alert('Taluka added successfully'); $('#msgspan').html('Taluka added successfully'); </script>
        }
        else if (script.Equals("fail"))
        {
            <script>alert('failed to add Taluka'); $('#msgspan').html('Failed to add Taluka'); </script>
        }
    }
}