@model IEnumerable<BOM.watershed_policy>

@{
    ViewBag.Title = "CropCart";
    BOM.User user = this.Session["user"] as BOM.User;
    if(user.uid==0)
    {
         this.Response.Redirect("/Account/Login");
    }
}

<h2>Crop Cultivated</h2>

<div class="watersheddiv container body-content">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.watershed_village_data.watershed_village.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.watershed_crop.cname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cultivated_area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                UserName
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.watershed_village_data.watershed_village.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.watershed_crop.cname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cultivated_area) Square Km.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @user.Name
        </td>

    </tr>
        }

    </table>
    </div>