
@{
    ViewBag.Title = "Login";
}
@model BOM.User

<h2>Login</h2>
<div class="container">
    <form class="form-group" action="/Account/Login" method="post">
        <table class="table-responsive">
            <tr>
                <td> @Html.LabelFor(model => model.email)</td>
                <td> @Html.EditorFor(model => model.email)</td>
                <td>@Html.ValidationMessageFor(model => model.email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.password)</td>
                <td>@Html.EditorFor(model => model.password)</td>
                <td>@Html.ValidationMessageFor(model => model.password)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" class="btn-primary" /></td>
                <td></td>
            </tr>
        </table>
    </form>
    <a href="/Account/Register">Not registered? Click Here to Register</a>
</div>