<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - WaterShed</title>
    
   
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link type="text/css" href="~/Content/styles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/normalize.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/swipebox.css" rel="stylesheet" type="text/css" media="all" />

    <!-- js -->


    <!-- //js -->
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Watersheduling,irriagtion policies,analytical report" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
                       function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.swipebox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/responsiveslides.min.js"></script>
    <script type="text/javascript" src="~/Scripts/classie.js"></script>
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js">
    </script>
    <script type="text/javascript" src="~/Scripts/login.js">
    </script>
    <script type="text/javascript" src="~/Scripts/validation.js">
    </script>
   
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- banner -->
    <div id="home" class="banner">
        <div class="container">
            <div class="navi">
                <div class="head-logo">
                    <a href="/Home/Index"><img src="~/images/logo.png" width="250px" alt=" "></a>
                </div>
                <div class="banner-nav">
                    <span class="menu"><img src="~/images/menu.png" alt=" " /></span>
                    <nav class="cl-effect-3">
                        <ul class="nav1">
                            <li class="active"><a href="/Home/Index" class="scroll">Home</a></li>
                            @{ BOM.User user = this.Session["user"] as BOM.User;
                                if (user.uid == 0)
                                {
                                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                                    <li><button class='btn' and style='display:inline-block;color:white;text-align:center; background-color:transparent' id='login'><span class='glyphicon glyphicon-log-in'></span> Login</button></li>
                                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                                }
                                else
                                {
                                    if (user.role.Equals("admin") || user.role.Equals("agent"))
                                    {
                                        <li>@Html.ActionLink("Add Detail", "AddDetail", "WaterShed")</li>
                                    }
                                    <li>@Html.ActionLink("Water Budget", "ViewDetail", "WaterShed")</li>
                                    <li>@Html.ActionLink("Water Policy", "ViewPolicy", "WaterShed")</li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="">Hello @user.Name</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
                <div class="clearfix"> </div>
            </div>
            <!-- script for menu -->
            <script>

						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
            </script>
            <!-- //script for menu -->
            <center>
                <div id="loginform">

                </div>
            </center>
            <div class="container body-content">
                @RenderBody()
             </div>
            </div>
    </div>
    <!-- //banner -->
    <!-- banner-bottom -->
    
    <!-- //contact -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="temp">
                <p>Design by Vallabh & Yogesh</p>
            </div>
            <div class="footer-icons">
                <ul>
                    <li><a href="#" class="facebook"> </a></li>
                    <li><a href="#" class="twitter"> </a></li>
                    <li><a href="#" class="dribble"> </a></li>
                    <li><a href="#" class="g-plus"> </a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- //footer -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
								 		};
										*/

										$().UItoTop({ easingType: 'easeOutQuart' });

									});
    </script>
    <!-- //here ends scrolling icon -->

    @RenderSection("scripts", required: false)
</body>
</html>